*,
html{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
section{
    min-height: 100vh;
    width: 100%;
    display:flex;
    align-items: center;
    justify-content: center;
}
*::before,
*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font: normal 16px/1.5 "Helvetica Neue",sans-serief;
    background-color: rgb(75, 74, 74);
    overflow-x: hidden;
    padding-bottom: 50px;
}
img{
    padding-right: 50px;
}
.intro{
    background: #bebb0d96;
    padding: 100px 0;
    align-self: center;
    
}
.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}
h1{
    font-size: 2.5rem;
}
/*timeline*/
.timeline ul {
    background:456990;
    padding: 50px 0;
}
.timeline ol li{
    list-style-type: none;
    position :relative;
    width: 6px;
    margin:0 auto;
    padding-top: 50px;
    background: #fff;
}
.timeline ul li ::after{
    content: "";
    position: absolute;
    left: 50px;
    bottom: 0;
    transform:
    translatex(-50%);
    width: 30px;
    height:30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
}
.timeline ul li ol{
    position:relative;
    bottom: 0;
    width:400 px;
    padding:15px;
    background: #f45b69;
}